<md-tab-group>
  <md-tab label="{{schema.displayName}}">
    <form name="editForm" class="general-edit" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <div class="inner">
        <div class="form-group save-group">
          <button type="submit" class="submit-btn" [disabled]="editForm.form.invalid || isSaving">
            <span>保存</span>
          </button>
          <button type="button" class="cancel-btn" (click)="previousState()">
            <span>返回</span>
          </button>
        </div>
        <div *ngIf="!model || !model.id" class="title" id="myDepartmentLabel">新建</div>
        <div *ngIf="model && model.id" class="title" id="myDepartmentLabel">更新</div>
        <dynamic-form *ngIf="schema.fields && model" [schema]="schema" [model]="model" (callbackChange)="changeModel($event)"></dynamic-form>
      </div>
    </form>
  </md-tab>
</md-tab-group>