<div class="general-list">
  <div class="title" jhiTranslate="esenadminwebhrmApp.organization.home.title">Companys</div>
  <!-- <div class="form-group row">
    <div class="col-6">
      <h2>
        <span jhiTranslate="esenadminwebhrmApp.organization.home.title">
                    Companys
                </span>
      </h2>
    </div>
    <button class="btn btn-primary create-organization-hrm" type="button" style="width:12%;max-width:12%;margin-right:1.6%;"
      [routerLink]="['../hrm-company-new']">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="esenadminwebhrmApp.organization.home.createLabel">
                Create new Company
            </span>
        </button>
    <div style="width:9%;min-width:9%;margin-right:1.6%;">
      <select id="selectedStatus" class="form-control" name="selectedStatus" [(ngModel)]="selectedStatus" (change)="showStatus()">
                <option value="1" selected>有效</option>
                <option value="0">无效</option>
                <option value="">全部</option>
            </select>
    </div>
    <input type="text" class="form-control col-2" placeholder="请输入公司名称..." [(ngModel)]="searchNameOrCode" name="searchNameOrCode"
      (keydown.enter)="showStatus()">
    <button type="button" class="btn btn-primary" style="width:6%;max-width:6%;margin-left:1.6%;" (click)="showStatus()">
      <span class="fa fa-search"></span>
      <span>查询</span>
    </button>
  </div> -->
  <!-- <esen-alert></esen-alert> -->
  <div class="table-responsive" *ngIf="organizations">
    <table class="table">
      <thead>
        <tr>
          <th><span jhiTranslate="global.field.id">ID</span></th>
          <th><span jhiTranslate="esenadminwebhrmApp.organization.name">Name</span></th>

          <th><span jhiTranslate="esenadminwebhrmApp.organization.companyNo">Company No</span></th>
          <th style="text-align: center;"><span jhiTranslate="esenadminwebhrmApp.organization.lastModifiedTime">Last Mmodified Time</span></th>
          <th><span jhiTranslate="esenadminwebhrmApp.organization.lastModifiedBy">Created By</span></th>
          <th style="text-align: center;"><span jhiTranslate="esenadminwebhrmApp.organization.status">Del Flag</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organization of organizations ;trackBy: trackId; let i=index;">
          <td scope="row">{{itemsPerPage*(page - 1) +i +1}}</td>
          <td>{{organization.name}}</td>
          <td>{{organization.companyNo}}</td>
          <td style="text-align: center;">{{organization.lastModifiedTime | date:'y/M/d'}}</td>
          <td>{{organization.lastModifiedBy}}</td>
          <td style="text-align: center;" *ngIf="organization.status == '1'">有效</td>
          <td style="text-align: center;" *ngIf="organization.status == '0'">无效</td>
          <td style="text-align: center;" *ngIf="organization.status == null"></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-operate" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                操作
              </button>
              <div class="dropdown-menu div-operate" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item operate-item" href="#">编辑</a>
                <a class="dropdown-item operate-item" href="#">删除</a>
              </div>
            </div>
          </td>
          <!-- <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button type="submit" [routerLink]="['../hrm-organization', organization.organizationId ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                            </button>
              <button type="submit" [routerLink]="['../hrm-organization-edit', organization.organizationId ]" class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
              <button type="submit" (click)="openDelete(organization.organizationId)" replaceUrl="true" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
            </div>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="organizations && organizations.length">
    <div class="row justify-content-center">
      <!-- <div class="info jhi-item-count">
                显示 {{itemsPerPage*(page - 1) +1}} - {{queryCount}} / {{totalItems}} 条
            </div>-->
      <!--<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
    </div>
    <div class="row justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [maxSize]=5 [rotate]="true" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
  </div>
</div>
