<form [formGroup]="form">
  <div class="form-group row">
    <label class="col-form-label right col-4" [attr.for]="option.name"><span *ngIf="!option.nullable">*</span>{{option.displayName}}</label>

    <div class="col-8" [ngSwitch]="option.inputType">

      <input *ngSwitchCase="'TEXT'" class="form-control"  [formControlName]="option.name"
              [id]="option.name" [type]="option.inputType" (change)="changeValue(option.name)">

      <select [id]="option.name" class="form-control" *ngSwitchCase="'SELECT'" [formControlName]="option.name">
        <option *ngFor="let opt of option.dictionaries" [value]="opt.value">{{opt.name}}</option>
      </select>

      <div class="custom-alert" [hidden]="isValid || isPristine">{{option.displayName}}必须填写</div>
    </div>

  </div>
</form>

