label.right {
  text-align: right;
}

div.display-flex {
  display: flex;
}
.overflow-hidden {
  overflow: hidden;
}
.custom-alert {
  color: #F12424;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
