<div class="general-list" *ngIf="schema">
  <div class="title">{{schema.displayName}}</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th *ngIf="schema.orderIds">序号</th>
            <th *ngFor="let itemId of schema.orderIds" align="center">
                {{showTitle(itemId)}}
            </th>
            <th *ngIf="schema.buttonIds"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemModel of model ; let i=index;">
          <td *ngIf="itemModel">{{itemsPerPage*(page-1) +i +1}}</td>
          <td *ngFor="let itemId of schema.orderIds">
              {{ showLabel(itemModel[itemId], itemId) }}
          </td>
          <td *ngIf="schema.buttonIds">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-operate" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                操作
              </button>
              <div class="dropdown-menu div-operate" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let buttonId of schema.buttonIds" class="dropdown-item operate-item" (click)="buttonClick(buttonId,itemModel)">{{showTitle(buttonId)}}</a>
              </div>
            </div>
              <!--<div class="btn-group" ngbDropdown>
                  <button type="button" ngbDropdownToggle  class="btn btn-esen dropdown-toggle dropdown-toggle-split">
                      操作
                  </button>
                  &lt;!&ndash;<button type="button" ngbDropdownToggle class="btn btn-esen dropdown-toggle dropdown-toggle-split">
                      <span class="caret"></span>
                      <span class="sr-only">Split button!</span>
                  </button>&ndash;&gt;
                  <div class="dropdown-menu dropdown-esen" aria-labelledby="dropdownBasic1">
                      <button *ngFor="let buttonId of schema.buttonIds" class="dropdown-item"  (click)="buttonClick(buttonId,itemModel)">{{showTitle(buttonId)}}</button>
                  </div>
              </div>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="model && model.length">
    <div class="row justify-content-center">
      <!--<div class="info jhi-item-count">
          显示 {{itemsPerPage*(page - 1) +1}} - {{queryCount}} / {{totalItems}} 条
      </div>-->
      <!--<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
    </div>
    <div class="row justify-content-center">
      <ngb-pagination [collectionSize]="collectionSize" [maxSize]=5 [rotate]="true" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
  </div>
</div>
