<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 jhiTranslate="register.title">注册</h1>
            <div class="alert alert-success" *ngIf="success">
                <strong>验证码发送成功!</strong> 请查看您的手机.
            </div>
            <div class="alert alert-success" *ngIf="registersuccess">
                <strong>恭喜注册成功！</strong> 请登录.
            </div>
            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>手机号已被注册!</strong> 请重新选择.
            </div>
            <div class="alert alert-danger" *ngIf="errorpinExists">
                <strong>验证码填写错误！</strong> 请仔细核对.
            </div>
            <div class="alert alert-danger" *ngIf="doNotMatch">
                <strong>两次密码输入不一致！</strong> 请重新输入.
            </div>
        </div>
        <div class="col-md-8 offset-md-2">   
            <form name="form" role="form" (ngSubmit)="sendcode()" #registerForm="ngForm" >
                <div class="form-group">
                    <label class="form-control-label" for="login">请填写您的手机号</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.mobile" id="login" name="login" #login="ngModel" placeholder="手机号码"
                            required pattern="^1(3|4|5|7|8)\d{9}$">
                </div>
                <div *ngIf="login.dirty && login.invalid">
                    <small class="form-text text-danger" *ngIf="login.errors.required">
                        请填写你的手机号
                    </small>
                    <small class="form-text text-danger" *ngIf="login.errors.pattern">
                        请正确填写你的手机号
                    </small>
                </div>
                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">发送验证码到手机</button>
            </form>        
            <form name="form1" role="form1" (ngSubmit)="save()" #saveForm="ngForm" >
                <div class="form-group">
                    <label class="form-control-label" for="pin">请填写手机验证码</label>
                    <input type="text" class="form-control" id="pin" name="pin" #pin="ngModel" placeholder="验证码"
                            [(ngModel)]="registerAccount.pin" required>
                    <div *ngIf="pin.dirty && pin.invalid">
                        <small class="form-text text-danger" *ngIf="pin.errors.required">
                            请填写你的手机验证码.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="saveForm.form.invalid" class="btn btn-primary">下一步</button>
            </form> 
            <form name="form2" role="form2" (ngSubmit)="register()" #finishForm="ngForm" >
                <div class="form-group">
                    <label class="form-control-label" for="password">输入密码</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="请输入密码"
                            [(ngModel)]="finishRegister.password" minlength=6 maxlength=20 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required">
                            请填写您的密码.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength">
                            您的密码最少是六位.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                            您的密码不能超过20位.
                        </small>
                    </div>
                    <esen-password-strength-bar [passwordToCheck]="finishRegister.password"></esen-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">再次输入密码.</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="请输入密码"
                            [(ngModel)]="confirmPassword" minlength=6 maxlength=20 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                            请再次填写您的密码.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                           您的密码最少是六位.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                           您的密码不能超过20位.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="finishForm.form.invalid" class="btn btn-primary">注册</button>
            </form>       
            <p></p>
        </div>
    </div>
</div>
