<form name="editForm" class="general-edit" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
  <div class="inner">
    <div class="form-group save-group">
      <button type="submit" class="submit-btn" [disabled]="editForm.form.invalid || isSaving">
        <span>保存</span>
      </button>
      <button type="button" class="cancel-btn" (click)="previousState()">
        <span>返回</span>
      </button>
    </div>
    <div class="title" id="myDepartmentLabel">创建或更新</div>
    <md-tab-group>
      <md-tab label="{{schema.displayName}}">
          <dynamic-form *ngIf="schema.fields" [schema]="schema" [model]="model" (callbackChange)="changeModel($event)"></dynamic-form>
      </md-tab>
    </md-tab-group>
  </div>
</form>
