<md-tab-group>
  <md-tab label="表单信息">
    <div class="general-detail">
      <div class="inner">
        <div class="save-group">
          <button type="button" class="cancel-btn" data-dismiss="modal" (click)="previousState()">
            <span class="fa fa-ban"></span>&nbsp;<span >返回</span>
          </button>
        </div>
        <div class="title">表单管理</div>
        <div class="content" *ngIf="model && model.id">
          <detail-dynamic-form [model]="model" [schema]="schema"></detail-dynamic-form>
          <esen-smart-form-field-list [formId]="model.id"></esen-smart-form-field-list>
        </div>
      </div>
    </div>
  </md-tab>
</md-tab-group>